{% extends 'base.html.twig' %}

{% block body %}
<style>
    body{
        background: url("http://6emesens-coiffure.fr/wp-content/uploads/revslider/landing-top/landing-top-background-img.jpg");
        color: white;
    ;
    }
</style>
    <div class="p-5 " style="text-align: center; font-size: 3vh">
        <br>
        <br>

        <p>
            C'est dans une ambiance moderne et élégante que Serhat et Tchayan opèrent pour rendre les cheveux plus beaux. Pour les rendre plus brillants et plus doux, l'équipe de « Lawine » est capable de tout. Balayage, mèches, ombré hair, gloss, couleur traditionnelle ou coloration végétale... Dans ce salon de coiffure à Strasbourg, tous vos désirs capillaires peuvent devenir réalité.
        </p>
        <br>
        <br>

        <p>
            Vos cheveux sont particulièrement ternes, fatigués, cassants ? Venez chez « Lawine » pour bénéficier de soins d'exception, naturels et profonds. Composés de tanin, les soins capillaires qu'effectuent vos coiffeuses strasbourgeoises ont une double action réparatrice et hydratante. Les cheveux sont fortifiés. Ils reprennent vie instantanément.
        </p>
        <br>
        <br>
        <p>
            Chez « Lawine », on ne s'occupe pas uniquement de vos cheveux. Mesdames, lors de votre passage au salon, vous pourrez faire retirer les poils indésirables qui gâchent votre ligne de sourcil. Quant à vous, messieurs, vous pourrez profiter du service barbier assuré par Serhat. En une demi-heure, il taille votre barbe au millimètre et redessine les contours pour qu'ils soient bien nets.
        </p>
        <br>
        <br>
    </div>

{% endblock %}
