<h2>Vous avez reçu un message</h2>
<main>
    <p>Nom : <b>{{ name }}</b> </p>
    <p>Prénom : <b>{{ firstname }}</b> </p>
    <p>Adresse mail : {{ mail }}</p>
    <p>Message : {{ message }}</p>
</main>
